<h2>Task list</h2>
<%= link_to 'Add new Task', new_task_path %>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.completed ? "[X]" : "[ ]" %> - <%= link_to task.title, task_path(task) %></li>
  <% end %>
</ul>
